<div class="card card-body bg-primary text-white py-5">
  <h3><b>7 things about me</b></h3>
  <p class="lead">
    You can find more about me by visiting my
    <a
      href="https://www.facebook.com/mantas.nacickas"
      class="font-weight-bold text-dark"
      style="text-decoration: none;"
    >
      Facebook</a
    >
    or

    <a
      class="port-item2 font-weight-bold text-dark"
      data-toggle="collapse"
      data-target="#contact"
      href="https://www.linkedin.com/in/mantas-nacickas/"
      style="text-decoration: none;"
    >
      Linkedin</a
    >
  </p>
  <div class="bg-white text-dark rounded py-2">
    <div class="container bod">
      <div class="row">
        <div class="col-lg-6">
          <div class="custom-div1 px-5 text-justify">
            <b>COMPETITIVE</b><br />
            If you will ever brag to me that you builded something big, unusual
            and this thing requires extraordinary capabilities and if it looks
            passionaite for me - HOLD ON! I will catch you soon (but in a good
            way, not for just bragging - healthy competition leads to
            perfection)!
          </div>

          <div class="custom-div3 px-5 text-justify">
            <b>DETAIL-ORIENTED</b><br />
            I hate unprofessionalism. I love to make things as better as
            possible and polish it until it will shine no matter how long it
            will take. And I think every professional should think like that.
            Imagine if your doctor or dentist is making shortcuts.
          </div>

          <div class="custom-div5 px-5 text-justify">
            <b>AUTONOMOUS</b><br />
            My daily routine is strictly planned - you can meet me at 8am
            jogging at Vingis Park, 9am-19pm I am doing my working tasks and
            19pm-22pm you can meet me in CS:GO or Vilnius city center. If I gave
            you a promise, you can be sure that the things will be done right
            and on time!
          </div>

          <div class="custom-div7 px-5 text-justify">
            <b>HARD-WORKING</b><br />
            I strongly believe that hard-working is the key to the success. I
            know what it takes to be a hard worker, but I also know what is the
            feeling to get there!
          </div>
        </div>
        <div class="col-lg-6">
          <div class="custom-div2 px-5 text-justify">
            <b>AMBITIOUS</b><br />
            I am "Always look to the future" qoute driven person who wants more
            and more and more to learn something new. Actually this is the main
            reason why I adore my profession (Software Engineering) because here
            is no limits for the things to learn.
          </div>

          <div class="custom-div6 px-5 text-justify">
            <b>OPEN & POSITIVE</b><br />
            I am always open and positive for any ideas. I enjoy to communicate
            and do something together. It could be any activity: Programming,
            CS:GO, traveling, wakeboarding, windsurfing and etc. Surprise me! Or
            drop me a message and I will surprise you!
          </div>

          <div class="custom-div4 px-5 text-justify">
            <b>PASSIONAITE</b><br />
            If you will ever ask me if I have a work to do, you will always get
            the same answer - yes. No matter what, I always have plans related
            to programming and it is not because of pressure to myself (you
            MUST, you SHOULD to do something), but because I really passionaite
            about my profession!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
