<div class="container">
  <header id="main-header">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <img src="assets/images/person1.jpg" alt="" />
      </div>

      <div class="col-lg-8">
        <div class="d-flex flex-column">
          <div class="p-5 bg-dark text-white">
            <div
              class="d-flex flex-row justify-content-between align-items-center"
            >
              <h1 class="display-4 text-white">Mantas Nacickas</h1>

              <div class="d-none d-lg-block">
                <a
                  href="https://www.linkedin.com/in/mantas-nacickas/"
                  class="text-white"
                >
                  <i class="fa fa-linkedin fa-2x"></i
                ></a>
              </div>

              <div class="d-none d-lg-block">
                <a
                  href="https://www.facebook.com/mantas.nacickas"
                  class="text-white"
                >
                  <i class="fa fa-facebook fa-2x"></i
                ></a>
              </div>

              <div class="d-none d-lg-block">
                <a href="https://www.github.com/mantas462" class="text-white">
                  <i class="fa fa-github fa-2x"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="p-4 bg-black">
            I am a fourth year student of Software Engineering at the Vilnius
            Gediminas Technical University, with my main focus being on
            Front-End and Back-End developing.
          </div>

          <div>
            <div
              class="d-flex flex-row text-white align-items-stretch text-center"
              id="buttons"
            >
              <div class="port-item p-4 bg-primary" (click)="openAbout()">
                <i class="fa fa-user fa-2x d-block icon-about"></i>
                <span class="d-none d-sm-block">About me</span>
              </div>

              <div class="port-item p-4 bg-success" (click)="openSkills()">
                <i class="fa fa-graduation-cap fa-2x d-block"></i>
                <span class="d-none d-sm-block">Skills</span>
              </div>

              <div class="port-item p-4 bg-warning" (click)="openExperience()">
                <i class="fa fa-folder-open fa-2x d-block"></i>
                <span class="d-none d-sm-block">Experience</span>
              </div>

              <div class="port-item p-4 bg-danger" (click)="openContact()">
                <i class="fa fa-envelope fa-2x d-block"></i>
                <span class="d-none d-sm-block">Contact</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

  <footer id="main-footer" class="p-5 bg-dark text-white">
    <div class="row">
      <div class="col-md-6">
        <a
          href="assets/resume/MANTAS-NACICKAS.pdf"
          class="btn btn-outline-light"
          download
        >
          <i class="fa fa-cloud"></i> Download Resume
        </a>
      </div>
    </div>
  </footer>
</div>
