<div id="resume">
  <div class="card card-body bg-success text-white py-5">
    <h3><b>My skills</b></h3>
    <p class="lead">
      You can ensure my level of provided skills by visiting my
      <a
        href="https://www.github.com/mantas462"
        class="font-weight-bold text-dark"
        style="text-decoration: none;"
      >
        GitHub</a
      >
      or challange my skills by

      <a
        class="port-item2 font-weight-bold text-dark"
        data-toggle="collapse"
        data-target="#contact"
        (click)="navigateToContact()"
        style="text-decoration: none;"
      >
        sending your task to me!</a
      >
    </p>
    <div class="card card-body py-5 text-dark">
      <div class="techn">
        <h2 style="text-align: center; font-weight: bold;">Backend</h2>
        <br />
        <br />
        <h4>Java</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="95"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 95%;"
          ></div>
        </div>

        <h4>Hibernate</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="95"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 95%;"
          ></div>
        </div>

        <h4>JUnit</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="90"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 90%;"
          ></div>
        </div>

        <h4>Spring</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 75%;"
          ></div>
        </div>
      </div>

      <div style="min-height: 50px;"></div>

      <div class="techn">
        <h2 style="text-align: center; font-weight: bold;">Frontend</h2>
        <br />
        <h4>HTML</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="95"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 95%;"
          ></div>
        </div>

        <h4>CSS</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 85%;"
          ></div>
        </div>

        <h4>Angular 2</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 85%;"
          ></div>
        </div>
      </div>

      <div style="min-height: 50px;"></div>

      <div class="techn">
        <h2 style="text-align: center; font-weight: bold;">Database</h2>
        <br />

        <h4>MySQL</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="95"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 95%;"
          ></div>
        </div>
      </div>

      <div style="min-height: 50px;"></div>

      <div class="techn">
        <h2 style="text-align: center; font-weight: bold;">IDE</h2>
        <br />

        <h4>IntelliJ</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="95"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 90%;"
          ></div>
        </div>

        <h4>Microsoft Visual Studio</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="95"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 90%;"
          ></div>
        </div>

        <h4>Eclipse</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="95"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 90%;"
          ></div>
        </div>
      </div>

      <div style="min-height: 50px;"></div>

      <div class="techn">
        <h2 style="text-align: center; font-weight: bold;">CI / CD</h2>
        <br />

        <h4>Travis</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
            role="progressbar"
            aria-valuenow="65"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 65%;"
          ></div>
        </div>

        <h4>Jenkins</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
            role="progressbar"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 50%;"
          ></div>
        </div>

        <h4>Kubernetes</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
            role="progressbar"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 50%;"
          ></div>
        </div>
      </div>

      <div style="min-height: 50px;"></div>

      <div class="techn">
        <h2 style="text-align: center; font-weight: bold;">Other</h2>
        <br />

        <h4>Swagger</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="90"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 90%;"
          ></div>
        </div>

        <h4>Git/GitHub</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="90"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 90%;"
          ></div>
        </div>

        <h4>Docker</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 75%;"
          ></div>
        </div>

        <h4>Amazon Web Services (AWS)</h4>
        <div class="progress mb-3">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
            role="progressbar"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 50%;"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
