<div id="work">
  <div class="card card-body bg-warning">
    <h3><b>My experience</b></h3>
    <p class="lead">
      More details about my experience you could find in
      <a
        href="https://www.linkedin.com/in/mantas-nacickas"
        class="font-weight-bold text-dark"
        style="text-decoration: none;"
        >here</a
      >
    </p>
    <div class="bg-white rounded">
      <h2 style="text-align: center;" class="mt-4 font-weight-bold">
        Working experience
      </h2>
      <div class="card-deck p-4">
        <div class="row">
          <div class="col-lg-4">
            <div
              class="card custom-card"
              style="
                border-style: solid;
                border-width: 2px;
                border-color: black;
              "
            >
              <div class="card-body">
                <h4 class="card-title">
                  Share.lt startup
                </h4>
                <p class="card-text">
                  Working almost on every piece of the project. Mostly focused
                  on backend.
                </p>
                <p class="p-2 mb-3 bg-dark text-white">
                  Position: Full Stack Developer
                </p>

                <p class="p-2 mb-3 bg-dark text-white">
                  Location: Vilnius, Lithunia
                </p>
              </div>

              <div class="card-footer">
                <h6 class="text-muted">Dates: 2020-04 - present</h6>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div
              class="card custom-card"
              style="
                border-style: solid;
                border-width: 2px;
                border-color: black;
              "
            >
              <div class="card-body border">
                <h4 class="card-title">
                  MB Anamita
                </h4>
                <p class="card-text">
                  The owner of the eCommerce clothing company (Amazon, Etsy,
                  Ebay).
                </p>
                <p class="p-2 mb-3 bg-dark text-white">
                  Position: CO-founder
                </p>

                <p class="p-2 mb-3 bg-dark text-white">
                  Location: Vilnius, Lithuania
                </p>
              </div>

              <div class="card-footer">
                <h6 class="text-muted">Dates: 2017-09 - 2019-02</h6>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div
              class="card custom-card"
              style="
                border-style: solid;
                border-width: 2px;
                border-color: black;
              "
            >
              <div class="card-body border">
                <h4 class="card-title">
                  Elemental surfaces
                </h4>
                <p class="card-text">
                  I was general laborer at construction site in Vancouver,
                  Canada.
                </p>
                <p class="p-2 mb-3 bg-dark text-white">
                  Position: Construction laborer
                </p>

                <p class="p-2 mb-3 bg-dark text-white">
                  Location: Vancouver, Canada
                </p>
              </div>

              <div class="card-footer">
                <h6 class="text-muted">Dates: 2016-09 - 2017-06</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="custom-hr" />

      <h2 style="text-align: center;" class="mt-4 font-weight-bold">
        Internship experience
      </h2>
      <div class="card-deck p-4">
        <div class="row">
          <div class="col-lg-4">
            <div
              class="card custom-card"
              style="
                border-style: solid;
                border-width: 2px;
                border-color: black;
              "
            >
              <div class="card-body">
                <h4 class="card-title">
                  UAB Insoft
                </h4>
                <p class="card-text">
                  Hands on Wep development. Mostly focused on Spring MVC
                  structure.
                </p>
                <p class="p-2 mb-3 bg-dark text-white">
                  Position: Intern
                </p>

                <p class="p-2 mb-3 bg-dark text-white">
                  Location: Vilnius, Lithunia
                </p>
              </div>

              <div class="card-footer">
                <h6 class="text-muted">Dates: 2020-02 - 2020-04</h6>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div
              class="card custom-card"
              style="
                border-style: solid;
                border-width: 2px;
                border-color: black;
              "
            >
              <div class="card-body border">
                <h4 class="card-title">
                  Code Academy
                </h4>
                <p class="card-text">
                  Mostly focused on more advanced Java: OOP, Spring, Hibernate
                  and other...
                </p>
                <p class="p-2 mb-3 bg-dark text-white">
                  Position: Intern
                </p>

                <p class="p-2 mb-3 bg-dark text-white">
                  Location: Vilnius, Lithuania
                </p>
              </div>

              <div class="card-footer">
                <h6 class="text-muted">Dates: 2019-10 - 2019-12</h6>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div
              class="card custom-card"
              style="
                border-style: solid;
                border-width: 2px;
                border-color: black;
              "
            >
              <div class="card-body border">
                <h4 class="card-title">
                  Lead2Pro
                </h4>
                <p class="card-text">
                  Introduction to programming. Focused on HTML, CSS.
                  Introduction to Java.
                </p>
                <p class="p-2 mb-3 bg-dark text-white">
                  Position: Intern
                </p>

                <p class="p-2 mb-3 bg-dark text-white">
                  Location: Vilnius, Lithuania
                </p>
              </div>

              <div class="card-footer">
                <h6 class="text-muted">Dates: 2019-03 - 2019-05</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="custom-hr" />

      <h2 style="text-align: center;" class="mt-4 font-weight-bold">
        Certificates
      </h2>

      <nz-collapse>
        <nz-collapse-panel
          *ngFor="let panel of panels"
          [nzHeader]="manovardas"
          [nzActive]="panel.active"
          class="bg-warning rounded"
        >
          <ng-template #manovardas>
            <p class="text-dark align-middle pt-3">
              <b>{{ panel.source }}</b> {{ panel.name }}
            </p>
          </ng-template>

          <div class="mx-5">
            <div class="card-body text-left">
              <div class="row my-4">
                <div class="col-lg-8">
                  <h2 class="font-weight-bold mb-3 black-text">
                    {{ panel.name }}
                  </h2>

                  <span class="font-weight-bold">
                    About this course:
                  </span>
                  <br />

                  <div *ngFor="let course of panel.courses">
                    • {{ course.name }}
                  </div>
                  <hr />
                  Link of the courses you can find
                  <a [href]="panel.link"
                    ><span class="font-weight-bold">here</span></a
                  >
                </div>
                <div class="col-lg-4 mt-3 pt-2 text-center align-middle">
                  <div class="view z-depth-1 text-center">
                    <img
                      src="{{ panel.imageURL }}"
                      alt=""
                      class="img-fluid text-center"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
</div>
